.sidenav.static.span3
  %h4 Collections
  %ul.nav
    - if @collections.empty?
      %li
        %h5 Empty
    -else
      - @collections.each do |collection|
        - selectedClass="active" if (collection.id == (params[:id]))
        %li{ :class => selectedClass }
          = link_to collection.name, collection_path(collection.name)
