%input{type:"hidden", id:"__back_pressed_need_refresh__", value:"no"}

:javascript
  //This code will force the page to reload when the back button in the browser is pressed.
  jQuery(document).ready(function() {
    var e = jQuery("#__back_pressed_need_refresh__");
    if (e.val()=="no") {
      e.val("yes");
    } else {
      e.val("no");
      location.reload();
    }
  });