= render 'display_collections'
.span9
  - if (!params[:id].nil?)
    = render :file => '/collections/show'
  - else
    %h2 Select a collection to view
= render 'shared/nectar_attribution'
= render 'shared/modal_waiting_panel'