#facets.facets.sidenav.span3
  %h4 My Account
  .facets-collapse
    .facet_limit
      %h5.twiddle
        %a My Details
    .facet_limit
      %h5.twiddle
        %a Change my Password
    .facet_limit
      %h5.twiddle
        %a Licence Agreements
    .facet_limit
      %h5.twiddle
        %a API Key
    .facet_limit
      %h5.twiddle
        %a Report an Issue

