#content
  = render :partial => 'sort_and_per_page'

  %table.table.table-condensed
    %thead
      %tr
        %th.title Collection or Collection List
        %th.collection Collections
        %th.owner Owner
        %th.state State
        %th.actions Actions
    %tbody
      - current_user.get_all_licence_info(true).each_pair do |k, v|
        %tr.documentHeadersdf.clearfixsdf
          %td.title
            =k.flat_name
          %td.collection
            =k.is_a?(Collection) ? "N/A" : k.collections.size
          %td.owner
            =k.flat_ownerEmail
          %td.state
            =v[:state]
          %td.actions
            - v[:actions].each do |action|
              - if action == :view
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_agreement_details", :role => "button"} View Licence
              - if action == :viewForAcceptance
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_agreement_details", :role => "button"} Preview Licence
              - if action == :second_action
                %a.btn.btn-mini{"data-toggle" => "modal", :href => "#licence_agreement_details", :role => "button"} Second Action


#licence_agreement_details.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Sample GNU Licence
    %p Read licence and agree to proceed
  #new_item_list_dialog.modal-body{:title => "New Item List"}
    %p
      View all Associated Collections
    %p
      Licence terms
  .modal-footer
    %a.btn.pull-left{"aria-hidden" => "true()", "data-dismiss" => "modal"} Disagree
    %a.btn.btn-primary Agree
