= render 'account_menu'
.span9
  -# - if (!params[:id].nil?)
  -# = render 'search_form'
  -# - else
  %h2 Request Access to, View, and Accept licences
  = render 'display_licence_collections'
= render 'shared/modal_waiting_panel'
