= render 'account_menu'
.span9
  -# - if (!params[:id].nil?)
  -# = render 'search_form'
  -# - else
  %h2 Select a Licence Agreement to gain access to it's associated collections
  = render 'display_licence_collections'
= render 'shared/modal_waiting_panel'
