= render 'account_menu'
.span9
  -# - if (!params[:id].nil?)
  -# = render 'search_form'
  -# - else
  %h2 Review and Acceptance of Licence Terms
  %div Manage your subscriptions to collections.
  = render 'display_licence_collections'
= render 'shared/modal_waiting_panel'
= render 'shared/nectar_attribution'