%p An issue has been reported with the following details:

Timestamp: <%= @issue_report.timestamp %>

Reported By: <%= @issue_report.user_email %>

URL: <%= @issue_report.url %>

Description: <%= @issue_report.description %>