%p An access request to a collection has been made with the following details:
%p
  Email: #{@request.user_email}
  %br/
  Collection: #{@coll.name}
  %br/
  Timestamp: #{@request.created_at}
%p You can manage licence access here: #{user_licence_requests_url}