%p Hello #{@user.first_name} #{@user.last_name},
%p You made a request for access to #{@collection}. Your request has been rejected. The data owner of this data provided the following reason:
%br/
%p #{@reason}