%p Someone has requested a link to change your password on the HCS vLab website (#{root_url}). Unfortunately the email address entered, #{@email}, is not registered with the system. Please enter the email address originally used to sign up for an account. You can do this through the link below.

%p #{new_user_password_url}

%p If you didn't request this, please ignore this email.