%p Dear #{@user.first_name},

%p Someone has requested a link to change your password on the HCS vLab website. You can do this through the link below.

%p #{edit_user_password_url}?reset_password_token=#{@user.reset_password_token}

%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
