#facets.facets.sidenav.span3
  %h4 HCS vLab Admin
  .facets-collapse
    - if can?(:read, User)
      .facet_limit
        %h5.twiddle
          = link_to "List Approved Users", users_path, :class => ""
    - if can?(:access_requests, User)
      .facet_limit
        %h5.twiddle
          = link_to "View Access Requests", access_requests_users_path, :class => ""
    .facet_limit
      %h5.twiddle
        = link_to "Collections", collection_path, :class => ""
    .facet_limit
      %h5.twiddle
        = link_to "Licences", licences_path, :class => ""
