.row-fluid.clearfix.environment
  .span12
    - if Rails.env.development?
      #dev
      %p= "#{PROJECT_NAME} Env: Development."
    - else
      %p 
        Developed by Intersect Australia Ltd.  Version: 
        = render 'shared/tag'
  
