.loading-div-background
  .loading-div.ui-corner-all
    =image_tag "loading.gif", :style=>'height:80px;margin:30px;', :alt=>'Loading..'
    %h2{:style=>'color:gray;font-weight:normal;'}
      Please wait....
:javascript
  function showProgressAnimation() {
    $('.loading-div-background').show();
  }