= image_tag 'nectar.jpg'
%br/
The University of Western Sydney is proud to be in partnership, and acknowledge funding from, the National eResearch Collaboration Tools and Resources (NeCTAR) project
= link_to 'http://www.nectar.org.au',  'http://www.nectar.org.au'
to develop the HCS vLab.
NeCTAR is an Australian Government project conducted as part of the Super Science initiative and financed by the Education Investment Fund.