.footer.row-fluid.clearfix
  .span3
    = image_tag 'nectar.png'
  .span9
    = "Western Sydney University and #{PROJECT_NAME} acknowledges funding from Nectar. Nectar is supported by the Australian Government through the National Collaborative Research Infrastructure Strategy (NCRIS)."