.footer.row-fluid.clearfix
  .span3
    = image_tag 'nectar.png'
  .span9
    The University of Western Sydney is proud to be in partnership, and acknowledge funding from, the National eResearch Collaboration Tools and Resources (NeCTAR) project
    = link_to 'http://www.nectar.org.au',  'http://www.nectar.org.au'
    = "to develop #{PROJECT_NAME}."
    NeCTAR is an Australian Government project conducted as part of the Super Science initiative and financed by the Education Investment Fund.
