-if !@response.nil?
  .span8{:id=>"content"}
    .buttons
      .btn-group
        %a{:class=>"btn dropdown-toggle", :'data-toggle'=>"dropdown", :href=>"#"}
          Item List Actions
          %span{:class=>"caret"}
        %ul{:class=>"dropdown-menu"}
          %li
            =link_to("Clear Item List", {:controller => "itemLists", :action => "clear"}, :method => 'POST', :id => params[:id].to_i)
      - if (@document_list.empty?)
        .alert.alert-info Item List is empty
      - else
        = render_document_index nil, {}, {:showCheckbox => false, :itemViewList => true}
        = render 'results_pagination'
