.span3{:id=>"sidebar"}
  .facets.sidenav{:id => "facets"}
    %h4 Item List
    .facets-collapse
      - @userItemLists.each do |itemList|
        .facet_limit
          - selectedClass="selected" if (itemList.id == (params[:id].to_i))
          %h5{:class => "twiddle"}
            =link_to itemList_path(itemList) do
              %span{:class => selectedClass}
                =itemList.name
