-if !@response.nil?
  .span8{:id=>"content"}
    .buttons
      = link_to "Clear Item List", :controller => "itemLists", :action => "clear", :id => params[:id].to_i
      = link_to "Remove Item List", :controller => "itemLists", :action => "remove", :id => params[:id].to_i
    = render_document_index nil, {}, {:showCheckbox => false, :itemViewList => true}
    = render 'results_pagination'