.span3{:id=>"sidebar"}
  .facets.sidenav{:id => "facets"}
    %h4 Item List
    - if (@userItemLists.empty?)
      %div
        %h5{} Empty
    -else
      .facets-collapse
        - @userItemLists.each do |itemList|
          - selectedClass="selected" if (itemList.id == (params[:id].to_i))
          .facet_limit
            %h5{:class => "twiddle"}
              =link_to itemList_path(itemList) do
                %span{:class => selectedClass}
                  =itemList.name