%form.pull-right{ :id => "galaxy_list", :style => "display:none;", :method => "post", :action => Rails.application.config.galaxy_url, :target => "_blank" }
  %input.btn{ :type => "hidden", :value => "hcsvlab_importer", :name => "tool_id" }
  %input.btn{ :type => "hidden", :value => ItemList.find(params[:id]).get_galaxy_list(root_url), :name => "url_paste" }
  %input.btn{ :type => "hidden", :value => current_user.authentication_token, :name => "api_key" }
  %input.btn{ :type => "hidden", :value => @item_list.name + " (" + Time.now.utc.localtime.strftime('%d/%m/%Y %I:%M:%S %P') + ")", :name => "job_name" }
  %input.btn{ :type => "hidden", :value => Rails.application.config.galaxy_url, :name => "URL" }
  %input.btn{ :type => "submit", :value => title }