= render 'display_item_lists'
.span9
  - if (!params[:id].nil?)
    = render 'search_form'
  - if (!@result.nil? && !@result.empty?)
    %table.table.table-striped
      %tr
        %th
          Facet value
        %th
          Matching documents
        %th
          Term Occurrences
      - @result.each_pair do |key, value|
        %tr
          %td
            =key
          %td
            =value[:num_docs]
          %td
            =value[:num_occurrences]
  - else
    .alert.alert-info No document matches with your search
= render 'shared/nectar_attribution'
