= render 'display_item_lists'
.span9
  - if (!params[:id].nil?)
    = render 'search_form'
  - if ("OK".eql?(@result[:status]))
    %table.table.table-striped
      %tr
        %th
          Facet value
        %th
          Matching documents
        %th
          Term Occurrences
      - @result[:data].each_pair do |key, value|
        %tr
          %td
            =key
          %td
            =render_frequency_search_items(value[:num_docs], value[:total_docs], true)
          %td
            =render_frequency_search_items(value[:num_occurrences], value[:total_words], false)
  - elsif ("NO_MATCHING_DOCUMENTS".eql?(@result[:status]))
    .alert.alert-info No document matches with your search
  - elsif ("NO_FACET_VALUES_DEFINED".eql?(@result[:status]))
    .alert.alert-info No defined values for the selected facet.
= render 'shared/nectar_attribution'
= render 'shared/profiler'