= render 'display_item_lists'
.span9
  - if (!params[:id].nil?)
    = render 'search_form'
  - if (!@result.nil? && !@result.empty?)
    %table{:style=>"width:100%"}
      %tr{:style=>"backgraound-color:gray"}
        %th{:style=>"backgraound-color:gray"}
          Facet value
        %th{:style=>"backgraound-color:gray"}
          Matching documents
        %th{:style=>"backgraound-color:gray"}
          Term Occurrences
      - @result.each_pair do |key, value|
        %tr
          %td
            =key
          %td
            =value[:num_docs]
          %td
            =value[:num_occurrences]
  - else
    .alert.alert-info No document matches with your search
= render 'shared/nectar_attribution'