.span3{:id=>"sidebar"}
  .facets.sidenav{:id => "facets"}
    %h4 Item List
    .facets-collapse
      - @userItemLists.each do |itemList|
        .facet_limit
          %h5{:class => "twiddle"}= itemList.name
-if !@response.nil?
  .span8{:id=>"content"}
    = render_document_index nil, {}, {:showCheckbox => false}
    = render 'results_pagination'

=  render 'shared/nectar_attribution'
