#content
  #sortAndPerPage.clearfix
    .btn.pull-left Create New Licence
    #per_page-dropdown.css-dropdown.pull-right.hidden-phone
      %span.hide-text Number of results to display per page
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}/
      %a{:href => "#"} 20 per page
      %span.caret
      %ul.dropdown-menu
        %li
          %a{:href => "/?f%5Bdate_group%5D%5B%5D=1910+-+1919&per_page=10"}
            10
            %span.hide-text per page
        %li
          %a{:href => "/?f%5Bdate_group%5D%5B%5D=1910+-+1919&per_page=20"}
            20
            %span.hide-text per page
        %li
          %a{:href => "/?f%5Bdate_group%5D%5B%5D=1910+-+1919&per_page=50"}
            50
            %span.hide-text per page
        %li
          %a{:href => "/?f%5Bdate_group%5D%5B%5D=1910+-+1919&per_page=100"}
            100
            %span.hide-text per page

  #documents
    %table#blacklight_results.table.table-condensed
      %thead
        %tr
          %th.name Meta Collection
          %th.description Description
          %th.owner Owner
          %th.licence Licence(s)
      %tbody
        %tr
          %td.name
            %a{"data-counter" => "1", :href => "/catalog/hcsvlab:16131"} AusNC Collections
          %td.description Lizst and the Faust Phenomonon
          %td.owner user@email.com
          %td.licence
            %span.label.licence
              %span.name MIT
              %a.remove
            .css-dropdown
              %button.dropdown-toggle.btn.btn-mini{ "data-toggle" => "dropdown" }
                Add Licence
                %span.caret
              %ul.dropdown-menu
                %li
                  %a MIT
        %tr
          %td.name
            %a{"data-counter" => "2", :href => "/catalog/hcsvlab:16134"} PARADISEC Collections
          %td.description How Great Was Weber?
          %td.owner user@email.com
          %td.licence
            %span.label.licence
              %span.name MIT
              %a.remove
            .css-dropdown
              %button.dropdown-toggle.btn.btn-mini{ "data-toggle" => "dropdown" }
                Add Licence
                %span.caret
              %ul.dropdown-menu
                %li
                  %a MIT
        %tr
          %td.name
            %a{"data-counter" => "3", :href => "/catalog/hcsvlab:15999"} BLALA Collections
          %td.description Sensitive Massage
          %td.owner user@email.com
          %td.licence
            %span.label.licence
              %span.name MIT
              %a.remove
            .css-dropdown
              %button.dropdown-toggle.btn.btn-mini{ "data-toggle" => "dropdown" }
                Add Licence
                %span.caret
              %ul.dropdown-menu
                %li
                  %a MIT
        %tr
          %td.name
            %a{"data-counter" => "4", :href => "/catalog/hcsvlab:16002"} AVOZES Collections
          %td.description The Magnetic Factor
          %td.owner user@email.com
          %td.licence
            %span.label.licence
              %span.name MIT
              %a.remove
            .css-dropdown
              %button.dropdown-toggle.btn.btn-mini{ "data-toggle" => "dropdown" }
                Add Licence
                %span.caret
              %ul.dropdown-menu
                %li
                  %a MIT
