= render 'admin/admin_menu'
.span9
  -# - if (!params[:id].nil?)
  -# = render 'search_form'
  -# - else
  %h2 HCS vLab Licence management
  -# = render 'display_licence_collections'
= render 'shared/modal_waiting_panel'
