= render 'admin/admin_menu'
.span9
  %h2 Assign Licences to Collection Lists
  = render 'display_metacollections_table'
  %h2 Group Collections into Collection Lists
  = render 'collections/display_collections_table'
= render 'shared/modal_waiting_panel'
