    <% # container for a single doc -%>
    <div class="document-noline <%= render_document_class document %>">
      <%= render :partial => 'catalog/document_header', :locals => { :document => document, :document_counter => document_counter, :extraRenderParams => extraRenderParams } %>
      <% # main container for doc partial view -%>
    </div>
