<header class="home">
  <h2>Above and Beyond Speech, Language and Music</h2>
  <h4> A Virtual Lab for Human Communication Science </h4>
</header>
<div class="alert long-alert">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <% if !@hasAccessToEveryCollection and @hasAccessToSomeCollections %>
    <p><strong>Welcome!</strong> To gain access to more Collections, visit the <a href="account/licence_agreements" class="alert-link">Licence Agreements</a> page.</p>
  <% elsif !@hasAccessToEveryCollection %>
    <p><strong>Welcome!</strong> To gain access to Collections, visit the <a href="account/licence_agreements" class="alert-link">Licence Agreements</a> page.</p>
  <% end %>
</div>
