= link_to "Back", catalog_advanced_search_path

%h3
  Searchable metadata fields
%span
  ="This table shows all metadata fields in #{PROJECT_NAME}. The left column shows internal field names that can be used in SPARQL"
  ="queries. The right column shows field names that can be used in search queries."
%br
%table.table.table-striped
  %thead
    %tr
      %td
        %b
          RDF Name
      %td
        %b
          Field name for Queries
  %tbody
    -if @nameMappings.empty?
      %tr
        %td{:colspan => 2}
          No searchable fields found
    -else
      -@nameMappings.each do |aNameMapping|
        %tr
          %td
            =aNameMapping[:rdfName]
          %td
            =aNameMapping[:user_friendly_name]
= render 'shared/nectar_attribution'
