
a { color: rgb(0, 171, 255); }
a:hover { color: #0D6B9F; }


h1 { font-weight: 200; font-size: 38.5px; margin-bottom: 20px; }
h2 { font-weight: 200; margin: 0 0 10px 0; font-size: 31.5px; }
h3 { font-weight: 200; font-size: 24.5px; }

#facets h4 { font-weight: 200; color: #FFF; background: #333; padding: 10px 14px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
#facets span.selected { color: #f6b717; }

.footer { margin: 60px 0 0 0; padding: 20px 0 40px 0; clear: both; border-top: 1px solid #DDD; color: #999; float: left; }
.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #F6B717, #F6B717);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6B717), to(#F6B717));
  background-image: -webkit-linear-gradient(top, #F6B717, #F6B717);
  background-image: -o-linear-gradient(top, #F6B717, #F6B717);
  background-image: linear-gradient(to bottom, #F6B717, #F6B717);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0);
}

#header-navbar-fixed-top {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  min-width: 395px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
border-width: 0 0 0px;
}

#sortAndPerPage form.pull-right { position: relative; margin: -5px 10px 0 0; }

.navbar .brand {
  width: 150px;
  padding: 15px 20px 15px;
  margin-right: 20px;
  margin-left: 0px;
  background: transparent url(/assets/hcsvlab.png) no-repeat left 5px;
  display: inline-block;
  text-indent: 0%;
  white-space: nowrap;
  overflow: visible;
  padding-right: 0;
  padding-left: 50px;
  text-align: left;
  color: #FFF;
  text-shadow: 0 0px 0 white;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
background-color: transparent;
color: #7F3F00;
  text-shadow: 0 0px 0 white;
}

.navbar .nav > li > a {
  float: none;
  padding: 15px 20px;
  color: #9B5B00;
  text-decoration: none;
  text-shadow: 0 0px 0 white;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: #7F3F00;
  text-decoration: none;
}


.sidenav h5 {
  border-top: 1px solid #DDD;
  color: #999;
}
.facets-collapse .facet_limit h5:hover {
background-color: #e6e6e6;
  color: #666;
}

.facets-collapse .icon-chevron {
opacity: .25;
}

h5.twiddle-open { color: #333; }



.sidenav {
  margin-bottom: 1em;
  padding: 0;
  background-color: whitesmoke;
  border: 0px solid #d4d4d4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.0);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.0);
}

.constraints-container {
  margin-bottom: 0; padding: 10px 0px; min-height: 20px;
  z-index: 10;
  background-color: #FFF;
  position: relative;
  color: #333;
  border: 0px solid #e3e3e3;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
}

span.constraints-label {
  font-weight: bold;
  font-weight: 200;
  margin: 0 0 10px 0;
  font-size: 31.5px;
}

#previousNextDocument {
  margin-bottom: 0px; padding: 10px 20px; min-height: 20px;
  z-index: 10;
  background-color: whitesmoke;
  position: relative;
  color: #333;
  border: 0px solid #e3e3e3;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0);
}


#previousNextDocument { text-align: center; }

#document { margin: 0px; }
#document h1 { }

.document {
border-bottom: 1px dotted #cccccc;
clear: both;
padding: 10px 0;
}

.document h3 { margin: 30px 0 20px 0; border-bottom: 1px solid #CCC; line-height: 0; }
.document h3 span { padding: 0 20px 0 0; background: white;
  padding: 0 20px 0 0;
  background: white;
  line-height: 20px;
}

.appliedFilter {
  margin: 10px 20px 10px 0;
  padding: 3px 3px 3px 10px;
  background: #FFD875;
  color: #444;
  border: 1px solid #f6b717;
  display: inline-block;
  padding-right: 45px;
  position: relative;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

.appliedFilter .filterName {
background: url(/assets/blacklight/separator.png) no-repeat right center;
padding-right: 14px;
}

.appliedFilter .btnRemove {
  background: url(/assets/blacklight/remove.png) no-repeat center center;
  border-bottom: none;
  border-left: 1px solid #f6b717;
  display: block;
  height: 100%;
  outline: none;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 32px;
  z-index: 5;
}


#sortAndPerPage {
  min-height: 20px;
  padding: 19px;
  z-index: 0;
  position: relative;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 0px solid #e3e3e3;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn a { color: #333; }

.index_title {
float: left;
max-width: 75%;
}

.facet_box {
  margin: 0 10px 0 0;
  padding: 10px 0;
 overflow: auto;
 overflow-x: hidden;
 height:240px;
 border-top: 1px solid #AAA;
 border-bottom: 1px solid #AAA;
 -moz-box-shadow: inset 0  8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
 -webkit-box-shadow: inset 0  8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
 box-shadow:        inset 0  8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
}


.environment {
position: fixed;
bottom: 0;
margin: 0 auto;
display: inline-block;
height: 20px;
text-align: right;
color: #CCC;
}
.environment p {
margin: 0 auto;
}












// EOPAS

// #right_column, #left_column {
// padding: 0px;
// border: 0px solid #cfd6de;
// overflow: auto;
// clear: right;
// }

// #left_column {
//   position: fixed;
//   top: 80px;
//   bottom: 20px;
//   float: none;
//   overflow-y: auto;
//   overflow-x: hidden;
//   width: 330px;
// }

// #transcript_display {
//   position: fixed;
//   top: 140px;
//   bottom: 20px;
//   float: none;
//   overflow: auto;
//   border: 0px solid #333;
// border-top: 1px solid #BBB;
// border-bottom: 1px solid #BBB;
// }

#left_column {
  padding: 0 10px;
  width: 330px;
  float: left;
  position: fixed;
  top: 80px;
  bottom: 20px;
  overflow: auto;
overflow-x: hidden;
border-top: 1px solid #AAA;
border-bottom: 1px solid #AAA;
-moz-box-shadow: inset 0 8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
-webkit-box-shadow: inset 0 8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
box-shadow: inset 0 8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
}

#right_column {
  margin-left: 380px;
  margin-right: 20px;
  padding: 0px;
  position: fixed;
  top: 80px;
  bottom: 20px;
  width: 800px;
}

#right_column #tiers_info {
  display: block;
  float: none;
  width: 100%;
  margin-bottom: 1em;
  background-color: transparent;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

#right_column #transcript_display {
  position: fixed;
  top: 120px;
  bottom: 20px;
  overflow: auto;
  width: 800px;
  margin: 0;
padding: 0;
overflow: auto;
overflow-x: hidden;
border-top: 1px solid #AAA;
border-bottom: 1px solid #AAA;
border-left: 0px solid #AAA; border-right: 0px solid #AAA;
-moz-box-shadow: inset 0 8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
-webkit-box-shadow: inset 0 8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
box-shadow: inset 0 8px 8px -8px #CCC, inset 0 -8px 8px -8px #CCC;
}


#left_column h3 {
  font-size: 20px;
}


.collapse_box {
border: 0px solid black;
padding: 0;
margin: 10px 0;
width: 330px;
}

.collapse_box .collapse_title {
  padding: 5px 0;
background-color: #666;
color: #FFF;
font-weight: 200;
height: auto;
padding-left: 5px;
}

.collapse_box .collapse_content {
background-color: whitesmoke;
padding: 10px;
margin: 0;
}

.collapse_box .collapse_content textarea {
  width: 290px;
}

.collapse_content table tr { }


#transcript_display .line {
margin: 0 0 10px 0;
border-spacing: 0px;
}

#transcript_display .line .controls {
margin: 2px 0px 1px 2px;
padding: 2px;
width: 25px;
text-align: center;
color: whitesmoke;
background-color: #333;
}

#transcript_display .line .tracks {
background-color: whitesmoke;
padding: 10px;
margin: 1px 2px 2px 2px;
text-align: left;
}

#transcript_display .line .tracks.hilight {
background-color: #FFD875;
margin: 1px 2px 2px 2px;
text-align: left;
border: 0px solid #f2bc00;
}

.tier.transcription {
  font-size: 18px;
  font-weight: 300;
}

.tier.translation { font-size: 16px; color: #333;}
#transcript_display .line .tracks .translation {
  margin: 10px 0;
  color: #999;
  font-style: italic;
  font-size: 16px; 
  font-weight: 300;
}

#transcript_display .line .tracks.hilight .translation {
  color: #9B5B00;
}


#transcript_display .line .tracks .tier span table tr td {
  margin: 1px;
  padding: 2px 5px;
  white-space: nowrap;
  font-family: Arial;
}
// .concordance { font-weight: bold; }

#transcript_display .line .tracks .tier span table tr td.morpheme, #transcript_display .line .tracks .tier span table tr td.gloss {
background-color: #CCC;
color: #666;
}

#transcript_display .line .tracks.hilight .tier span table tr td.morpheme, #transcript_display .line .tracks.hilight .tier span table tr td.gloss {
background-color: #FFF;
color: #333;
}

#url { display: inline-block; }


.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > a.hovered, .dropdown-submenu > a.hovered {
  text-decoration: none;
  color: white;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #333, #333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#333));
  background-image: -webkit-linear-gradient(top, #333, #333);
  background-image: -o-linear-gradient(top, #333, #333);
  background-image: linear-gradient(to bottom, #333, #333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#333', GradientType=0);
}

#searchbar #search_field { display: none; }

#searchbar input { width: 190px; }
ul#searchbar { padding-top: 15px; padding-bottom: 15px; }

.create_item_list_error { color:#F71111 }

th.checkbox_header { padding-left: 0px; }
th.checkbox_header span.btn { padding: 4px 5px; }
th.checkbox_header span.btn input[type="checkbox"] { vertical-align: top; }

#documents th { vertical-align: middle; }


.navbar .nav > li > span {
float: none;
padding: 15px 20px;
color: #333;
text-decoration: none;
text-shadow: 0 0px 0 white;
display: block;
background-color: #FFD875;
}

#header-navbar-fixed-top .navbar-inner {
  padding-top: 0px;
  padding-bottom: 0px;
}

#header-navbar-fixed-top .navbar-inner .row-fluid {
  // padding: 5px 0;
}

// Concordance search view
.itemsFound {

}

.highlightings .documentTitle {
  background-color: lightsteelblue;
  margin-top:10px;
}
.highlightings .concordanceTable {
  margin-left: auto;
  margin-right: auto;
}

.highlightings .concordanceTable .highlighting {
  color: red;
}

.highlightings .concordanceTable .leftColumn {
  text-align:right;
}

.highlightings .concordanceTable .rightColumn {
}

.centerColumn {
  padding:5px;
}


@media only screen and (max-width : 1200px) {
#searchbar input { width: 140px; }
}


@media only screen and (max-width : 980px) {
#searchbar input { width: 85px; }
}












